version: "3.9"

services:
  api:
    build: .
    env_file:
      - backend.env
    ports:
      - "4000:4000"

    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: hivesync
      POSTGRES_USER: hivesync
      POSTGRES_PASSWORD: 123!Gyndak
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7

volumes:
  postgres_data:
